<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InserirGrafoController</servlet-name>
        <servlet-class>controller.InserirGrafoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaGrafoController</servlet-name>
        <servlet-class>controller.CarregaGrafoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadGrafo</servlet-name>
        <servlet-class>controller.DownloadGrafo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeraInformacoesGrafo</servlet-name>
        <servlet-class>controller.GeraInformacoesGrafo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularDijkstra</servlet-name>
        <servlet-class>controller.CalcularDijkstra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlgoritmoDeKruskalController</servlet-name>
        <servlet-class>controller.AlgoritmoDeKruskalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlgoritmoDePrimController</servlet-name>
        <servlet-class>controller.AlgoritmoDePrimController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirGrafoController</servlet-name>
        <url-pattern>/InserirGrafoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaGrafoController</servlet-name>
        <url-pattern>/CarregaGrafoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadGrafo</servlet-name>
        <url-pattern>/DownloadGrafo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeraInformacoesGrafo</servlet-name>
        <url-pattern>/GeraInformacoesGrafo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularDijkstra</servlet-name>
        <url-pattern>/CalcularDijkstra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlgoritmoDeKruskalController</servlet-name>
        <url-pattern>/AlgoritmoDeKruskalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlgoritmoDePrimController</servlet-name>
        <url-pattern>/AlgoritmoDePrimController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
